<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-max-w-md text-center">
    <div class="flex justify-center">
      <div class="bg-orange-100 p-6 rounded-full">
        <svg
          class="h-16 w-16 text-orange-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          />
        </svg>
      </div>
    </div>

    <h1 class="mt-6 text-4xl font-extrabold text-gray-900 tracking-tight">
      Kitchen Not Found
    </h1>

    <p class="mt-2 text-base text-gray-600">
      Oops! It looks like the kitchen
      <span class="font-mono font-bold text-orange-600 italic"
        >"{{ subdomain }}"</span
      >
      isn't open yet.
    </p>

    <div class="mt-5">
      <p class="text-xs text-gray-400">
        If you are the owner of
        <span class="font-semibold">{{ subdomain }}</span
        >, please contact support to activate your menu.
      </p>
    </div>
  </div>
</div>
