spring:
  application:
    name: menu-service

  datasource:
    url: jdbc:postgresql://localhost:5432/hellokitchens
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000

cloudinary:
  url: cloudinary://${CN_KEY}:${CN_SECRET}@${CN_NAME}